/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
nav {
    background-color: #2061B0;
    margin-bottom: 10px;
    padding:10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  nav h1{
    color:white
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  nav input:hover{
    border: 4px solid gray;
  }
  

  
  .container{
    display:flex;
    justify-content: flex-start;
    padding: 10px;;

  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 150px;
  }

  label.radio-label{
    display:inline;
    margin-right: 15px;

  }

  input[type="radio"]{
    margin-right: 50px;
  }

  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }
  